/* ingredient */
.ingredient {
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    background-size: 0cm;
    background-color: blanchedalmond;
    color: black;
    width: 600px;

}

img {
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

h1 {
    font-family: "Lucida Handwriting", Times, serif;
    font-size: 50px;
    font-style: italic;
}



.btt {
    text-align: end;
    border: solid;
    background-color: hsl(195, 100%, 50%);  
}

p, ul, ol{
    font-size: 20px;
    
}

ul {
    line-height: 0.8cm;
}

ol{
    line-height: 1.3cm;
}

h2 {
    font-size: 25px;
    font-family: cursive;
}

.home {
    text-align: left;
    background-color: rgb(19, 237, 245);
}

#mainh1
{
    font-size: 40px;
    font-family: monospace;
    font-style: normal;
    text-align: center;

}